drop database Internet;

CREATE DATABASE IF NOT EXISTS Internet;
USE Internet;
CREATE TABLE Account (
                         id INT AUTO_INCREMENT PRIMARY KEY,
                         balance FLOAT NOT NULL,
                         createdAt DATETIME(6) NOT NULL,
                         deletedAt DATETIME(6),
                         password VARCHAR(45) NOT NULL,
                         role INT,
                         username VARCHAR(45) NOT NULL
);

CREATE TABLE Computer (
                          id INT AUTO_INCREMENT PRIMARY KEY,
                          createdAt DATETIME(6) NOT NULL,
                          deletedAt DATETIME(6),
                          name VARCHAR(100) NOT NULL,
                          price FLOAT NOT NULL,
                          status INT,
                          type INT
);

CREATE TABLE ComputerUsage (
                               id INT AUTO_INCREMENT PRIMARY KEY,
                               computerID INT,
                               createdAt DATETIME(6) NOT NULL,
                               endAt DATETIME(6),
                               isEmployeeUsing BIT NOT NULL,
                               totalMoney FLOAT,
                               usedByAccountId INT,
                               usedBy INT,
                               FOREIGN KEY (computerID) REFERENCES Computer (id) ON DELETE CASCADE
);

CREATE TABLE Employee (
                          id INT AUTO_INCREMENT PRIMARY KEY,
                          accountID INT,
                          createdAt DATETIME(6) NOT NULL,
                          deletedAt DATETIME(6),
                          name VARCHAR(100) NOT NULL,
                          otherInformation VARCHAR(255),
                          salaryPerHour INT,
                          phoneNumber VARCHAR(15),
                          address VARCHAR(250),
                          FOREIGN KEY (accountID) REFERENCES Account (id) ON DELETE CASCADE
);

CREATE TABLE Invoice (
                         id INT AUTO_INCREMENT PRIMARY KEY,
                         computerId INT,
                         createdAt DATETIME(6) NOT NULL,
                         createdBy INT NOT NULL,
                         createdToAccountId INT,
                         deletedAt DATETIME(6),
                         isPaid BIT NOT NULL,
                         note TEXT,
                         status INT NOT NULL,
                         total FLOAT,
                         type INT NOT NULL,
                         FOREIGN KEY (computerId) REFERENCES Computer (id) ON DELETE CASCADE
);

CREATE TABLE InvoiceDetail (
                               id INT AUTO_INCREMENT PRIMARY KEY,
                               invoiceId INT NOT NULL,
                               price FLOAT NOT NULL,
                               productId INT NOT NULL,
                               quantity INT NOT NULL,
                               FOREIGN KEY (invoiceId) REFERENCES Invoice (id) ON DELETE CASCADE
);

CREATE TABLE Session (
                         id INT AUTO_INCREMENT PRIMARY KEY,
                         computerID INT NOT NULL,
                         prepaidAmount FLOAT,
                         serviceCost INT NOT NULL,
                         startTime DATETIME(6) NOT NULL,
                         totalTime INT,
                         usedCost INT NOT NULL,
                         usedTime INT NOT NULL,
                         usingBy INT,
                         FOREIGN KEY (computerID) REFERENCES Computer (id) ON DELETE CASCADE
);

CREATE TABLE Message (
                         id INT AUTO_INCREMENT PRIMARY KEY,
                         sessionId INT NOT NULL,
                         content VARCHAR(255),
                         fromType INT,
                         createdAt DATETIME(6),
                         FOREIGN KEY (sessionId) REFERENCES Session (id) ON DELETE CASCADE
);

CREATE TABLE Product (
                         id INT AUTO_INCREMENT PRIMARY KEY,
                         createdAt DATETIME(6) NOT NULL,
                         deletedAt DATETIME(6),
                         description TEXT NOT NULL,
                         image VARCHAR(255) NOT NULL,
                         name VARCHAR(100) NOT NULL,
                         price FLOAT NOT NULL,
                         stock INT NOT NULL,
                         type INT
);




INSERT INTO ComputerUsage
(id, computerID, createdAt, endAt, isEmployeeUsing, totalMoney, usedByAccountId, usedBy)
VALUES
    (1, 1, '2021-07-25 05:24:58', '2021-07-25 10:24:58', 0, 25000, NULL, NULL),
    (2, 2, '2021-11-19 20:32:10', '2021-11-19 22:56:10', 0, 12000, 15, NULL),
    (3, 3, '2021-08-06 06:01:56', '2021-08-06 08:07:56', 0, 21000, 67, NULL),
    (4, 4, '2022-11-16 06:18:13', '2022-11-16 10:42:13', 0, 22000, NULL, NULL),
    (5, 5, '2022-02-22 07:11:16', '2022-02-22 08:53:16', 0, 17000, NULL, NULL);

INSERT INTO Invoice
(id, computerId, createdAt, createdBy, createdToAccountId, deletedAt, isPaid, note, status, total, type)
VALUES
    (1, NULL, '2021-03-18 04:34:21', 4, NULL, NULL, 0, NULL, 3, 10971090, 0),
    (2, NULL, '2022-08-06 11:57:28', 3, NULL, NULL, 0, NULL, 3, 3784960, 0),
    (3, NULL, '2022-09-12 00:06:24', 4, NULL, NULL, 0, NULL, 3, 10718270, 0),
    (4, NULL, '2021-03-09 16:37:19', 2, NULL, NULL, 0, NULL, 3, 2316500, 0);



-- ALTER TABLE `Account` ADD CONSTRAINT `UK_de34gsw4qt8auhffbna969ahp` UNIQUE (`username`);

-- ALTER TABLE `Invoice` CHANGE `total` `total` DECIMAL(10,2) DEFAULT 0;

-- ALTER TABLE `ComputerUsage` ADD CONSTRAINT `FK1ukgw2h7yqj0uqhs4kln7b0tv` FOREIGN KEY (`computerID`) REFERENCES `Computer` (`id`);
-- ALTER TABLE `ComputerUsage` ADD CONSTRAINT `FKru3cjhi3eagngqfgdf3ap0w0f` FOREIGN KEY (`usedBy`) REFERENCES `Account` (`id`);

-- ALTER TABLE `Employee` ADD CONSTRAINT `FK94h4kungplj8clo62i971c85o` FOREIGN KEY (`accountID`) REFERENCES `Account` (`id`);

-- ALTER TABLE `Invoice` ADD CONSTRAINT `FK6hqjk9ej9r883fy7sgep9efn7` FOREIGN KEY (`createdBy`) REFERENCES `Employee` (`id`);
-- ALTER TABLE `Invoice` ADD CONSTRAINT `FK937sc7o18kooa1fhxm57wld1w` FOREIGN KEY (`createdToAccountId`) REFERENCES `Account` (`id`);
-- ALTER TABLE `Invoice` ADD CONSTRAINT `FKmhlwjt2ll4e2gnxrx2i3yfljd` FOREIGN KEY (`computerId`) REFERENCES `Computer` (`id`);

-- ALTER TABLE `InvoiceDetail` ADD CONSTRAINT `FK2pri5nh9cre1wwfky1gd4egw6` FOREIGN KEY (`productId`) REFERENCES `Product` (`id`);
-- ALTER TABLE `InvoiceDetail` ADD CONSTRAINT `FKb5m8jjhsq5jxvhdbwty3d05sq` FOREIGN KEY (`invoiceId`) REFERENCES `Invoice` (`id`) ON UPDATE CASCADE ON DELETE CASCADE;

-- ALTER TABLE `Message` ADD CONSTRAINT `FK_Message_Session` FOREIGN KEY (`sessionId`) REFERENCES `Session` (`id`) ON UPDATE CASCADE ON DELETE CASCADE;

-- ALTER TABLE `Session` ADD CONSTRAINT `FKa5yuno1td1sbamjqf31ccqbde` FOREIGN KEY (`usingBy`) REFERENCES `Account` (`id`);
-- ALTER TABLE `Session` ADD CONSTRAINT `FKgy250fk87rpr8iwyiwbq3b5oi` FOREIGN KEY (`computerID`) REFERENCES `Computer` (`id`);

